.my-page-container {
    margin-top: 140px;
    display: flex;
    justify-content: center;
}

.my-page-wrapper {
    margin: 0 auto;
    width: 800px;
    border: 2px solid #dddddd;
}

.my-page-header {
    text-align: center;
    background-color: #333333;
    padding: 5px 0;
    color: #dddddd;
}

.movie-reserve-list {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.movie-reserve {
    margin-top: 10px;
    margin-left: 10px;
    width: 240px;
    height: 380px;
    border: 2px solid #dddddd;
    border-radius: 10px;
    padding: 13px 10px;
}

.movie-reserve-age {
    font-size: 10px;
    font-weight: bold;
    text-align: right;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.movie-reserve-title {
    padding-top: 11px;
    text-align: center;
    font-size: 16px;
    padding-bottom: 11px;
    border-bottom: 2px solid black;
}

.movie-reserve-theater-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.movie-reserve-seats {
    font-weight: bold;
    margin-top: 8px;
    text-align: center;
    font-size: 20px;
}

.movie-reserve-date-wrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-reserve-date {
    font-weight: bold;
    font-size: 14px;
}

.movie-reserve-runningTime {
    font-weight: bold;
    font-size: 17px;
    margin-left: 5px;
}

.pay-information-wrapper {
    margin-top: 10px;
    text-align: center;
}

.pay-information-date-title {
    font-size: 12px;
}

.pay-information-date {
    margin-top: 4px;
    font-size: 12px;
    font-weight: bold;
}

.barcode-wrapper {
    margin-top: 10px;
}

.pay-information-money-wrapper {
    margin-top: 8px;
}

.pay-information-money-title {
    font-size: 12px;
}

.pay-information-money {
    margin-top: 3px;
    font-weight: bold;
    font-size: 18px;
}

.barcode-wrapper>div {
    font-size: 20px;
    font-weight: bold;
}

.barcode-wrapper>img {
    margin-top: 5px;
    width: 200px;
    height: 60px;
}